.name{
    text-align: center;
}

.alignment{
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;

}

.alignment_i{
    font-style: italic;
    margin-left: 25px;
    margin-right: 25px;


}

.creator{
    font-size: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.creator_sub{
    font-size: 40px;
    font-style: italic;
 
}