h1 {
    white-space: pre;
    margin: 10px 40px 10px 0px;
}

input[type="radio"]{
    margin: 15px;
}

.imageLabel {
    width: 360px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imageRest {
    object-fit: cover;
    height: 260px;
    width: 360px;
    border-radius: 20px;
}

.likeDislikeLabel {
    margin-left: -5px;
}

.restaurantsTitle {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.eggQuestion {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.errorLabel {
    display: flex;
    text-align: center;
}